.navbar{
  background-color: #A22583;
}

.titulo{
  color: #FFFFFF;
  font-family: Oswald;
  font-weight: 700;
}
.imagen_principal{
  background-image:  url("../img/propia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.color_nav{
  font-family: Oswald;

}

.texto_principal{
  font-family: Oswald;
  font-size: 40px;
  padding-top: 150px;

}

.color_hr{
  border: 2px solid #ffffff;
  width: 400px;
}

.texto_acercademi{
  font-family: Oswald;
  font-size: 30px;
  padding-bottom: 200px;

}

body{
  background-color: #ffffff;
  font-family: Raleway;
}

.hr_{
  border: 2px solid #000000;
  width: 400px;
}

.parrafo_1{
  font-family: Oswald;
  font-weight: 400;
  font-size: 25px;
}

.parrafo{
  font-family: Oswald;
  font-weight: 400;
}

.text-inicial{
  font-family: Raleway;
  font-weight: 600;
  font-size: 20px;
}

.mi_experiencia{
  font-weight: 400;
}

.hr_1{
  border: 2px solid #000000;
  width: 550px;
}
.hr_3{
  border: 2px solid #000000;
  width: 650px;
}


.contenedor_1{
  color: #A22583;
}
.contenedor{
  margin: auto;
}
.icono{
  color: #ffffff;
}



.footer{
  background: #A22583;
}
