.navbar{
  background-color: #660066;
}

.titulo{
  color: #FFFFFF;
  font-family: Oswald;
  font-weight: 700;
}
.imagen_principal{
  background-image:  url("../img/portada1.jpeg");
  background-size: cover;
  background-position: center;
}

.color_nav{
  font-family: Oswald;

}

.texto_principal{
  font-family: Oswald;
  font-size: 40px;
  margin-top: 30px;
  padding-top: 600px;

}

.color_hr{
  border: 2px solid #ffffff;
  width: 400px;
}

.texto_acercademi{
  font-family: Oswald;
  font-size: 30px;
  padding-bottom: 200px;

}
